@import "tailwindcss";

@theme { 
  --background:hsl(0, 0%, 6%);
  --secondary-background:hsl(0 0% 20%);
  --button-hover-background:hsl(0 0% 25%);
  --gray:hsl(0 0% 78%);
  --white:hsl(0 0% 100%);
  --border:hsl(0 0% 19%);
  --black:hsl(0 0% 0%);
}

* {
  border-color: var(--border);
}

body {
  background: var(--background);
  color: var(--white);
}
